* {
    box-sizing: border-box;
    border: 2px solid black;
    margin: 0;
    overflow: hidden;
    padding :0;
}
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

#color-picker-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
}

.line {
     margin: 10px;
     font-weight: 700;
     font-size: 20px;
     font-family: cursive;
     color: blueviolet;
}
input[type="color"] {
    
    margin-top: 10px;
    height: 40px;
}